
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<p></p>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Item Name </th>
        <th>Description </th>
        <th>Price </th>
        <th>Quantity</th>
    </tr>
    @foreach (var item in ViewBag.AllItems)
    {
        <tr>
            <td>@item.ItemName</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemName }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemName })
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Add Item", "AdminAddPage", "Home", new { @class = "elements" }, null)</p>
